.input{
  background-color: transparent;
  text-align: center;
  border: 2px solid transparent;
  font-size: 1.8rem;
  color: var(--text-default);
  padding: 0.4rem;
  outline: none;
  border-bottom: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;

}

.input::placeholder{
  color: var(--gray-500);
  opacity: 0.7;
  font-style: italic;
  font-size: 1.4rem;
}
.input:focus{
 border: 2px solid var(--primary);
 border-radius: 0.8rem;
} 