.cycles{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
}

.cycleDots{
 display: flex;
 gap: 0.8rem;
}

.cycleDot{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime{
    background: var(--warning);
}

.shortBreakTime{
     background-color: var(--primary);

}

.longBreakTime{
    background-color: var(--info);
}